
<div class="mb-3 row">
    <app-select-user label="Recherche" 
        [(user)]="taskService.search"
        firstOptionLabel="Choisissez un utilisateur"
        (change)="taskService.filterTask()">
    </app-select-user>
    <!--
    <button class="btn btn-primary btn-sm" 
        (click)="taskService.filterTask()">
        Filtrer
    </button>
    -->
</div>

<button class="btn btn-primary mt-3 mb-2" 
        routerLink="/todo-form">
    Ajouter une tâche
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Statut</th>
            <th>Tâche</th>
            <th>Responsable</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskService.taskList | async">
            <td>
                <input type="checkbox" 
                [checked]="task.done">
            </td>
            <td>
                {{ task.taskName}}
            </td>
            <td>
                {{ task.user }}
            </td>
            <td>
                <button class="btn btn-danger btn-sm"
                (click)="taskService.deleteTask(task.id)">X</button>
            </td>
            <td>
                <button class="btn btn-warning btn-sm" (click)="editTask(task)">
                    modifier
                </button>
            </td>
        </tr>
    </tbody>
</table>
