<button class="btn btn-primary mt-3 mb-2" 
        routerLink="/todo-form">
    Ajouter une tâche
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Statut</th>
            <th>Tâche</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskService.taskList">
            <td>
                <input type="checkbox" 
                [checked]="task.done">
            </td>
            <td>
                {{ task.taskName}}
            </td>
            <td>
                <button class="btn btn-danger btn-sm"
                (click)="taskService.deleteTask(task.id)">X</button>
            </td>
        </tr>
    </tbody>
</table>
